body {
	background-color: #188F8F;
font-family: "LoRes 9 Minus OT", Narrow-Regular;
	font-size: 16pt;
	color: #FFF3CA;
	margin-bottom: 100px;
}
h1 {
	font-family: PF Pixelscript;
	text-align: center;
	color: #FFF3CA;
	font-size: 60px;
	margin-top: 80px;
}
/*#title {
	color: crimson;
	border: 10px dotted;
	border-color: dodgerblue;
	border-radius: 50%;
	background-color: mediumseagreen;
	margin: 80px;
	font-family: Courier New;
	position: relative;
	text-align: center;
	font-size: 60px;
}
#text {
	font-family: courier new;
	opacity: 60%;
	color: mediumvioletred;
}*/

img {
	width: 200px;
	height: auto;
	border: 5px dotted;
	border-color: mediumseagreen;
	position: absolute;
}

#i1 {
	left: 50%;
	top: 65%;
}

#i2 {
	left: 10%;
	top: 30%;
}

#i3 {
	left: 70%;
	top: 200%;
}

#i4 {
	left: 82%;
	top: 95%;
}

#i5 {
	left: 55%;
	top: 180%;
}

#i6 {
	left: 5%;
	top: 150%;
}

#i7 {
	left: 75%;
	top: 35%;
}

#i8 {
	left: 80%;
	top: 188%;
}

#i9 {
	left: 30%;
	top: 148%;
}

#i10 {
	left: 25%;
	top: 188%;
}

#i11 {
	left: 60%;
	top: 45%;
}

#i12 {
	left: 72%;
	top: 60%;
}

#i13 {
	left: 55%;
	top: 100%;
}

#i14 {
	left: 20%;
	top: 110%;
}

#i15 {
	left: 70%;
	top: 130%;
}

#i16 {
	left: 8%;
	top: 78%;
}

#i17 {
	left: 30%;
	top: 60%;
}

/*@media(max-width:400px){
 div.images {
	width: 90px;
	height:auto;
	left:-800px;
	top:200px;
#i1 {
	position: absolute;
	left: 100px;
	top: 400px;
}
}*/

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -3px) rotate(-1deg); }
  20% { transform: translate(-4px, 1px) rotate(1deg); }
  30% { transform: translate(4px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-2px, 3px) rotate(-1deg); }
  60% { transform: translate(-4px, 2px) rotate(0deg); }
  70% { transform: translate(4px, 2px) rotate(-1deg); }
  80% { transform: translate(-2px, -2px) rotate(1deg); }
  90% { transform: translate(2px, 3px) rotate(0deg); }
  100% { transform: translate(2px, -3px) rotate(-1deg); }
}

img:hover {
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}

.navbar {
 
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-btn {
  color: #FFF3CA;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
 
  transition: background-color 0.3s;
}

.nav-btn:hover {
  filter: drop-shadow(0 0 0.75rem #ffffff);
}

.home-btn {
  margin: 0;

