body {
	background-color: #ED2F2F;
	font-family: "LoRes 9 Minus OT", Narrow-Regular;
	font-size: 16pt;
	color: #FFF3CA;
	text-align: center;
	
}

.title {
	font-family: PF Pixelscript;
	text-align: center;
	color: #FFF3CA;
	font-size: 30px;
	margin-top: 80px;

}

.how-to {
}

ol {
	margin left: 20%;
	margin right: 20%;
	text-align: left;
	padding: 10px;
}


a[href*='https://www.usps.com/ship/packages.htm#:~:text=Please%20write%20the%20address%20parallel,of%20a%20separate%20address%20label.'] {
	color: #FFF3CA;
}

a:hover {
	color:orchid;
}

.navbar {
 
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-btn {
  color: #FFF3CA;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
 
  transition: background-color 0.3s;
}

.nav-btn:hover {
  filter: drop-shadow(0 0 0.75rem #ffffff);
}

.home-btn {
  margin: 0;
