body {
    background-color: #188F8F;
    font-family: "LoRes 9 Minus OT", Narrow-Regular;
    font-size: 16pt;
    color: #FFF3CA;
    text-align: center;

}

h1 {
    font-family: "PF Pixelscript", Regular;
    text-align: center;
    color: #FFF3CA;
    font-size: 60px;
    margin-top: 80px;
}

.carousel-container {
    width: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 300px;
    height: auto;
    object-fit: cover;
}



/* ... Your existing styles ... */

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

#background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
}






.navbar {
 
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-btn {
  color: #FFF3CA;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
 
  transition: background-color 0.3s;
}

.nav-btn:hover {
  filter: drop-shadow(0 0 0.75rem #ffffff);
}

.home-btn {
  margin: 0;

